@model IEnumerable<_1911061027_DoTrongThuong_BigSchool.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>

<div class="panel panel-default text-center">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3><b>Khoá Học Đã Tạo</b></h3></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><b>STT</b></td>
            <td><b>Ngày Tháng</b></td>
            <td><b>Môn Học</b></td>
            <td><b>Giảng Viên</b></td>
            <td><b>Sửa/Xóa</b></td>
        </tr>

        @{int i = 0;}
        @foreach (var course in Model)
        {

            <tr>
                <td>@{++i;} @i </td>
                <td>@course.DateTime.ToString("dd")-@course.DateTime.ToString("MM")</td>
                <td>
                    @course.Category.Name
                </td>
                <td>
                    @course.Lecturer.Name
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Courses", new { id = course.Id })">Edit</a>
                    -
                    <a href="#" class="js-cancel-course" data-course-id="@course.Id">Cancel</a>
                </td>
            </tr>
        }

    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Are you sure to Cancel!",
                    function () {
                        $.ajax({
                            url: "/api/courses/" + link.attr("data-course-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function () {
                                alert("Something failed!");
                            });
                    });
            });
        });
    </script>
}

