@model _1911061027_DoTrongThuong_BigSchool.ViewModels.CourseViewModel
@using Microsoft.AspNet.Identity
@using _1911061027_DoTrongThuong_BigSchool.Models
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default text-center">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3><b>Khoá Học</b></h3></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><b>STT</b></td>
            <td><b>Ngày Tháng</b></td>
            <td><b>Môn Học</b></td>
            <td><b>Giảng Viên</b></td>
            <td><b>Đăng ký/Follow Giảng Viên</b></td>
        </tr>

        @{int i = 0;}
        @foreach (var course in Model.UpcommingCourses)
        {

            var userId = User.Identity.GetUserId();
            ApplicationDbContext _dbContext = new ApplicationDbContext();
            <tr>
                <td>@{++i;} @i </td>
                <td>@course.DateTime.ToString("dd")-@course.DateTime.ToString("MM")</td>
                <td>
                    @course.Category.Name
                </td>
                <td>
                    @course.Lecturer.Name
                </td>
                <td>
                    @if (Model.ShowAction)
                    {
                        bool isGoing = _dbContext.Attendances.Any(a => a.AttendeeId == userId && a.CourseId == course.Id);

                        if (isGoing)
                        {
                            <button data-course-id="@course.Id" class="btn btn-info btn-sm js-toggle-attendance">Going</button>
                        }
                        else
                        {
                            <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going</button>
                        }
                    }
                    @if (Model.ShowAction)
                    {
                        bool isGoing = _dbContext.Followings.Any(a => a.FollowerId == userId && a.FolloweeId == course.LecturerId);

                        if (isGoing)
                        {
                            <button class="btn btn-danger btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Following</button>
                        }
                        else
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>
                        }

                    }
                </td>
            </tr>
        }

    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-default")) {
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                } else {
                    $.ajax({
                        url: "/api/attendances/" + button.attr("data-course-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            button
                                .removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                }
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);

                if (button.hasClass("btn-default")) {
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-danger")
                                .text("Following");

                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                } else {
                    $.ajax({
                        url: "/api/Followings/" + button.attr("data-user-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            button
                                .removeClass("btn-danger")
                                .addClass("btn-default")
                                .text("Follow");
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                }
            });
        });
    </script>
}
